@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body{
  height: 200vh;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.cards-container{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.card{
  width: 300px;
  height: 370px;
  border-radius: 10px;
  margin: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(255,255,255, 0.35);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 40px 5px;
  border: 2px rgba(255,255,255,0.4) solid;
  border-bottom: 1px rgba(40,40,40,0.5) solid;
  border-right: 1px rgba(255,255,255,0.25) solid;
  transition: transform 1s ;
}
.card:hover{

  transform: scale(1.1);
  z-index: 10;
}

.profile{
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.2px;
  color: white;
  line-height: 0.1;
  text-align: center;
   font-size: 1rem;
}
/* .learn-more{
  padding-top: 15px;
  text-align: center;
  
}
.learn-more button{
  width: 50%;
  font-size: 1em;
  background-color: transparent;
  border: 2px solid white;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
}
.more-info{
  overflow: hidden;
  height: 0;
  transition: height .5s ease-in;
  position:relative;
}

.learn-more button:focus .more-info{
  height: 300px;
}

 */
.learn-more{
  color: black;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin: 0 60px;
  cursor: pointer;
  background-color: white;
}


.card img{
  width: 60px;
  padding: 15px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 20px -6px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
}
.bottom{
  position: relative;
  top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.socials{
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.socials img{
  width: 30px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 2px -6px;
  transition: transform .5s;
}

.socials img:hover{
  cursor: pointer;
  transform: scale(1.2) translateY(-15px);
  background-color: white;
}
